body {
  background-color: #C5DFE8;
}
p {
  color: black;
}
a {
  color: gray;
}

.profilepic {
  width: 250px;
}

.personalstuff {
  text-align: center;
  align-content: center;
}

.biography {
  position: relative;
  margin: 0 auto;
  width: 65%;
}

.navbar-fixed-bottom {
  position: fixed;
  background-color: green;
  padding-top: 20px;
  padding-bottom: 40px;
  bottom: 0;
  width: 100%
}

.footer-left {
  text-align: left;
  float: left;
  margin-left: 30px;
}

.footer-center {
  text-align: center;
}

.footer-right {
  text-align: right;
  float: right;
  margin-right: 30px;
}
